# Compilation files
*.class

# Dependency files
*.jar
*.war
*.ear

# Output files
*.log
*.out

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# NetBeans
.nb-configuration.xml
build/
nbproject/private/

# Maven
target/

# Gradle
.gra
